// 背景色
$bg-color-default: #171a1f;

// 主要的主题绿色
$color-default: #008d8e;
$color-primary: #11abac;
$color-minor: #57bfbe;
$color-light: #bbe2e1;

// 白色
$color-white: #ffffff;
// 黑色
$color-black: #000000;
// 文字的颜色

// 默认字体颜色
$font-color-default: $color-default;
// 主要文字
$font-color-primary: #303133;
// 常规文字
$font-color-normal: #606266;
// 次要文字
$font-color-minor: #909399;
// 站位文字
$font-clolr-placeholder: #C0C4CC;


// 文字大小
$font-size-xs: 12px;
$font-size-primary: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-sl: 22px;

